@import "colours";

#teams-and-channels-box {
  overflow-y: scroll;
  max-height: 95vh;
  background-color: $colour-1;

  .teams-list-item {

    margin-bottom: 5px;

    .teams-list-team-name {
      text-decoration: none;
      background-color: $colour-5;
      color: $colour-1;
      font-size: large;
    }

    .collapsed {

      div:not(:first-child) {
        border-top-style: dashed;
        border-top-color: $colour-2;
      }

      div {
        background-color: $colour-4;
        color: $colour-1;
        font-size: large;
      }

      div:hover, .active {
        background-color: $colour-5;
      }

      .teams-list-channel.active {
        background-color: $colour-2;
      }
    }
  }
}


/* collapses teams list */

.collapsible-teams-list-btn {
  cursor: pointer;
}

.collapsible-teams-list-btn:hover {
  background: $colour-4;
}

.collapsed {
  display: none;
  overflow: hidden;
}
