@import "styles/auth-form";
@import "styles/chat-view-box";
@import "styles/colours";
@import "styles/enlarged-image";
@import "styles/teams-channels";

/* body */

body {
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* navbar */

#navbar {
    height: 40px;
    padding-top: 10px;
    background-color: $colour-1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;

            * {
                vertical-align: middle;
                text-decoration: none;
                color: $colour-4;
                font-size: x-large;
                font-weight: bolder;
            }
        }
    }
}

/* main whole view layout */

#main-whole {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 10px;
    height: 95vh;
}

#teams-and-channels-box {
    grid-column: 1 / 2;
}

/* teams and channels list */

#chat-view-box {
    grid-column: 2 / 3;
    overflow-y: scroll;
    max-height: 95vh;
    padding-bottom: 10px;
}
